h1, .contacts-title {
    color: #F35B1C;
}

h2, p, li, .summary-title {
    color: #512b2b;
}

.button{
    background-color: #F35B1C;
}

.button a {
    color:white;
    text-decoration: none;
}

input[type="text"] {
    background-color: white;
    color: #512b2b;
    border: none;
    padding: 5px 3px;
    margin: 5px 0 0;
    width: 100%;
}

.error {
    color: rgb(255, 25, 25);
}