h1, .contacts-title {
    color: #F35B1C;
}

h2, p, li, .summary-title {
    color: #512b2b;
}

.button{
    background-color: #F35B1C;
}

.button a {
    color:white;
    text-decoration: none;
}

.error {
    color: rgb(255, 25, 25);
}